.main-chat-message-div {
    width: 60%;
    height: 90%;
    background: #383F4D;
    align-content: flex-start;
}

.frnd-chat-nav-div {
    width: 100%;
    background: #414759;
    justify-content: space-between;
    height: 70px;
}

.frnd-chat-nav-img-div {
    width: 20%;
}

.frnd-chat-nav-div img {
    width: 44px;
    height: 48px;
    border-radius: 50%;
}

.frnd-chat-nav-name-div {
    width: 78%;
}

.frnd-chat-nav-name-div p {
    width: 100%;
    color: white;
    margin: 5px 0px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.main-frnd-chat-div {
    width: 100%;
    height: calc(100% - 70px);
    border-radius: 10px;
    align-content: space-around;
    justify-content: center;
}

.frnd-chat-text-div {
    border: 1px solid red;
    height: calc(100% - 70px);
    width: 100%;
    flex-direction: column;
    flex-flow: column;
}

.frnd-chat-send-div {
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
    justify-content: space-around;
}

.frnd-chat-send-input-div {
    width: calc(95% - 50px);
    /* border: 1px solid red; */
    border-radius: 30px;
    background: #4F5565;
}

#frnd-chat-input {
    background: #4F5565;
    border: none;
    padding: 5px 5px;
    width: calc(100% - 50px);
    outline: none;
    border-radius: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.frnd-chat-input-btn {
    background-color: #7375FD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    width: 40px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.frnd-chat-input-btn:first-child {
    background: none;
    color: #7278A4;
    font-size: 20px;
}