.main_profile_center {
    width: 100%;
    margin: 20px 0px 10px 0px;
}

.profile_center {
    width: 80%;
    flex-direction: column;
    flex-flow: column;
    align-items: flex-start;
}

.profile_center h1 {
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    color: white;
    margin: 20px 0px;
}

.profile_center p {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 20px 0px;
    width: 50%;
}

.profile_center button {
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    background: #26a5bb;
    padding: 5px 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}